<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/219x452)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">Noble<span>UI</span></a>
            <h5 class="text-muted fw-normal mb-4">Créer un compte gratuit.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID </label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ID" value="">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nom </label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nom" value="">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Prenom </label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Prenom" value="">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Numero de telephone</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Numero de telephone" value="">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Adresse</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Adresse" value="">
              </div>
           
               
            
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onRegister($event)">S'inscrire</button>
                
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">
                Déjà Inscrit ? S'identifier</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>